<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form" se-container nzLayout="vertical">
  <!-- The border of input turn red When error occur-->
  <nz-form-item>
    <nz-form-control nzErrorTip="Error!">
      <input nz-input formControlName="userName" />
    </nz-form-control>
  </nz-form-item>

  <!-- NO red borders -->
  <se error="Error!">
    <input nz-input formControlName="userName" />
  </se>

  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" nzBlock> Login </button>
  </nz-form-item>
</form>
